<%= render("layouts/errors", :object => @question) %>

<%= form_for @question do |f| %>
  <div class="form-group">
    <%= f.label :question, :class => "entry-title"%>
    <%= f.text_field :question, :class => "form-control" %>
    <%= f.label :content, :class => "entry-title" %>
    <%= f.text_area :content, :class => "form-control" %>
  </div>
    <%= f.submit :class => "btn btn-primary" %>
<% end %>
