<%= render("layouts/errors", :object => @user) %>

<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => "entry-title"%><br />
    <%= f.text_field :name, :class => "form-control"%>
  </div><div class="form-group">
    <%= f.label :email, :class => "entry-title" %><br />
    <%= f.text_field :email, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, :class => "entry-title" %><br />
    <%= f.password_field :password, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, :class => "entry-title" %><br />
    <%= f.password_field :password_confirmation, :class => "form-control" %>
  </div></br>
  <div class="actions"><%= f.submit :class => "btn btn-primary" %></div>
<% end %>
